window#osd {
  border-radius: 999px;
  border: none;
  background: rgba(29, 32, 33, 0.85);
  color: #ebdbb2;
}

window#osd image,
window#osd label {
  color: #ebdbb2;
}

window#osd progressbar trough,
window#osd segmentedprogress trough,
window#osd segment {
  background: rgba(235, 219, 178, 0.45);
}

window#osd progressbar progress,
window#osd segment.active {
  background: #83a598;
}
