@define-color wb_bg rgba(17, 17, 27, 0.92);
@define-color wb_fg #cdd6f4;
@define-color wb_muted #a6adc8;
@define-color wb_accent #89b4fa;
@define-color wb_surface rgba(30, 30, 46, 0.65);
@define-color wb_surface_strong rgba(49, 50, 68, 0.85);
@define-color wb_notif #f9e2af;
