@define-color wb_bg rgba(25, 23, 36, 0.92);
@define-color wb_fg #e0def4;
@define-color wb_muted #908caa;
@define-color wb_accent #c4a7e7;
@define-color wb_surface rgba(31, 29, 46, 0.65);
@define-color wb_surface_strong rgba(38, 35, 58, 0.85);
@define-color wb_notif #f6c177;
