@define-color wb_bg rgba(26, 27, 38, 0.92);
@define-color wb_fg #c0caf5;
@define-color wb_muted #9aa5ce;
@define-color wb_accent #7aa2f7;
@define-color wb_surface rgba(36, 40, 59, 0.65);
@define-color wb_surface_strong rgba(65, 72, 104, 0.85);
@define-color wb_notif #e0af68;
